<h1>New User</h1>

<div>
  <div>
    <%= form_tag("/users/create") do %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <p>
        Name<br>
        <input name = "name">
      </p>

      <p>
        Email<br>
        <input name = "email">
      </p>

      <p><input type="submit" value="Create User"></p>
    <% end %>
  </div>

  <p><%= link_to("Back","/users") %></p>
</div>
