<h1>New User</h1>

<div>
  <div>
    <%= form_tag("/users/create") do %>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <div>
        Name<br>
        <input name = "name">
      </div>
      <div>
        Password<br>
        <input name = "password">
      </div>
      <div>
        Email<br>
        <input name = "email">
      </div>

      <br>
        <p><input type="submit" value="Create User" class="btn btn-primary"></p>
    <% end %>
  </div>

  <p><%= link_to "Back","/users", class:"btn btn-primary" %></p>
</div>
