<h1>Hello World</h1>
# views/devise/menu/_login_items.html.erb
<% if user_signed_in? %>
  <%= current_user.email %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path) %>  
  </li>
<% end %>