<div>
  <p>  
    <b>Content:</b> <%= @micropost.content %>
  </p>
  <p>
    <b>User:</b>   <%= @user.name %>
  </p>
</div>
<div>
  <p>
    <% if current_user.id == @micropost.user_id %>
      <%= link_to("Edit","/microposts/#{@micropost.id}/edit") %> |
    <% end %>
      <%= link_to("Back","/microposts") %>
  </p>
</div>