// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*indexページ--------*/
.user_image {
  width: 60px;
  height: 60px;
}

table th{
  padding: 10px;
}

table .index_data{
  padding: 3px 10px;
}
.td_user{
  padding: 10px 40px 10px 0px;
}
.td_crud_user{
  padding: 10px 10px 10px 0px;
}
/*showページ---------*/
.show_image_title{
  float: left;
  margin-top: 20px;
}
